extends main.pug

block pets
  div(class="container text-white")
    each pet in data 
      div(class="rounded bg-dark mt-2") 
        div(class="row")
          div(class="col-4 col-md-2 col-lg-2")
            img(class="img-fluid" src=pet.avatar, alt="")
          div(class="col-4 col-md-3 col-lg-4")
            h4=pet.name
            h6=pet.dob 
          div(class="col-4 col-md-3 col-lg-3")
            h5 Latest Activity
          div(class="col-12 col-md-4 col-lg-3 btn-group")
            button(class="btn btn-dark")
              i(class="fas fa-heartbeat")
            button(class="btn btn-dark")
              i(class="fas fa-notes-medical")
            button(class="btn btn-dark")
              i(class="fas fa-chevron-right")